<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="" crossorigin="anonymous">
</head>
<body>
Tim kiem hoc sinh UDPM
<form action="/hoc-sinh/tim-kiem" method="get">
    Nganh UDPM: <input type="text" name="major" placeholder="Nhap tai day"> <br>
    <input type="submit" value="Tim kiem">
</form>
Thong tin hoc sinh
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>StudentCode</th>
        <th>FullName</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Major</th>
        <th>ClassName</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hs : ${listHocSinh}">
        <td th:text="${hs.id}"></td>
        <td th:text="${hs.studentCode}"></td>
        <td th:text="${hs.fullName}"></td>
        <td th:text="${hs.gender}"></td>
        <td th:text="${hs.email}"></td>
        <td th:text="${hs.phone}"></td>
        <td th:text="${hs.major}"></td>
        <td th:text="${hs.className}"></td>
    </tr>
    </tbody>
</table>
<p th:text="${message}"></p>
</body>
</html>